.ee{
    width: 200px;
    height: 200px;
    background-color: black;
    position: sticky;
    top: 0px;
  
}

.uu{

    background-color: yellow;
    display: flex;
    flex-direction: column;
}

.rip{

    width: 50vw;
}